/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-scorpion_01 {
  background-image: url(sprite.png);
  background-position: -325px 0px;
  width: 55px;
  height: 118px;
}
.icon-scorpion_02 {
  background-image: url(sprite.png);
  background-position: 0px -236px;
  width: 55px;
  height: 118px;
}
.icon-scorpion_03 {
  background-image: url(sprite.png);
  background-position: -110px -236px;
  width: 45px;
  height: 118px;
}
.icon-scorpion_04 {
  background-image: url(sprite.png);
  background-position: -145px -118px;
  width: 65px;
  height: 118px;
}
.icon-scorpion_05 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 90px;
  height: 118px;
}
.icon-scorpion_06 {
  background-image: url(sprite.png);
  background-position: 0px -118px;
  width: 75px;
  height: 118px;
}
.icon-scorpion_07 {
  background-image: url(sprite.png);
  background-position: -325px -118px;
  width: 55px;
  height: 118px;
}
.icon-scorpion_08 {
  background-image: url(sprite.png);
  background-position: -55px -236px;
  width: 55px;
  height: 118px;
}
.icon-scorpion_09 {
  background-image: url(sprite.png);
  background-position: -210px -118px;
  width: 45px;
  height: 118px;
}
.icon-scorpion_10 {
  background-image: url(sprite.png);
  background-position: -260px 0px;
  width: 65px;
  height: 118px;
}
.icon-scorpion_11 {
  background-image: url(sprite.png);
  background-position: -90px 0px;
  width: 90px;
  height: 118px;
}
.icon-scorpion_12 {
  background-image: url(sprite.png);
  background-position: -180px 0px;
  width: 80px;
  height: 118px;
}
.icon-scorpion_13 {
  background-image: url(sprite.png);
  background-position: -260px -118px;
  width: 60px;
  height: 118px;
}
.icon-scorpion_14 {
  background-image: url(sprite.png);
  background-position: -75px -118px;
  width: 70px;
  height: 118px;
}
